<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title layout:title-pattern="$CONTENT_TITLE - $DECORATOR_TITLE" th:text="#{app.name}"></title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
	<link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.min.css}" href="../../../static/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" th:href="@{/static/font-awesome/css/font-awesome.min.css}" href="../../../static/font-awesome/css/font-awesome.min.css"/>
	<link rel="stylesheet" th:href="@{/static/ionicons/css/ionicons.min.css}" href="../../../static/ionicons/css/ionicons.min.css"/>
	<link rel="stylesheet" th:href="@{/static/plugins/datatables/dataTables.bootstrap.css}" href="../../../static/plugins/datatables/dataTables.bootstrap.css"/>
	<link rel="stylesheet" th:href="@{/static/dist/css/AdminLTE.css}" href="../../../static/dist/css/AdminLTE.css"/>
	<link rel="stylesheet" th:href="@{/static/dist/css/skins/skin-blue.css}" href="../../../static/dist/css/skins/skin-blue.css"/>
	<link rel="stylesheet" th:href="@{/static/app/css/main.css}" href="../../../static/app/css/main.css"/>
	<script th:src="@{/static/plugins/jQuery/jQuery-2.1.4.min.js}" src="../../../static/plugins/jQuery/jQuery-2.1.4.min.js"></script>
	<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<script th:replace="fragments/layout/scripts :: first"></script>
	<div class="wrapper">

		<div th:replace="fragments/layout/mainHeader :: header">Main header</div>
		<div th:replace="fragments/layout/mainSidebar :: main">Main sidebar</div>

		<div class="content-wrapper">
			<div th:replace="fragments/layout/contentHeader :: header">Content header</div>
			<section class="content">
				<div layout:fragment="content">Content</div>
			</section>
		</div>

		<div th:replace="fragments/layout/mainFooter :: footer">Main footer</div>
		<div th:replace="fragments/layout/controlSidebar :: sidebar">Control sidebar</div>

	</div>
	<div th:replace="fragments/layout/scripts :: last"></div>
</body>
</html>
