<!DOCTYPE html>
<html>
<head th:replace="fragments/layout/head :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
	<script th:replace="fragments/layout/scripts :: first"></script>
	<div class="wrapper">

		<div th:replace="fragments/layout/mainHeader :: header">Main header</div>
		<div th:replace="fragments/layout/mainSidebar :: projectGroup">Main sidebar</div>

		<div class="content-wrapper">
			<div th:replace="fragments/layout/contentHeader :: header">Content header</div>
			<section class="content">
				<div layout:fragment="content">Content</div>
			</section>
		</div>

		<div th:replace="fragments/layout/mainFooter :: footer">Main footer</div>
		<div th:replace="fragments/layout/controlSidebar :: sidebar">Control sidebar</div>

	</div>
	<div th:replace="fragments/layout/scripts :: last"></div>
</body>
</html>
