<!DOCTYPE html>
<html>
<body>
	<div th:fragment="edit" class="col-md-6">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title" th:text="#{page.projectgroupedit.formtitle}">Information</h3>
			</div>
			<form action="#" th:action="@{/project-group/edit/{projectGroupId}(projectGroupId=${projectGroup.id})}" th:object="${projectGroupCommand}" method="post">
				<div th:replace="fragments/projectGroup/projectGroupFormFields :: fields">Form</div>
			</form>
		</div>
	</div>
	
	<div th:fragment="create" class="col-md-6">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title" th:text="#{page.projectgroupcreate.formtitle}">Information</h3>
			</div>
			<form action="#" th:action="@{/project-group/create}" th:object="${projectGroupCommand}" method="post">
				<div th:replace="fragments/projectGroup/projectGroupFormFields :: fields">Form</div>
			</form>
		</div>
	</div>
</body>
</html>