<!DOCTYPE html>
<html layout:decorator="layout/main" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title th:text="#{page.userchangepassword.title} - ${user.label} - #{page.users.title}">Change password -
	User label - Users</title>
</head>
<body>
	<h1 layout:fragment="content-title"><i class="fa fa-user"></i> <span th:text="${user.label}">User</span> - <span th:text="#{page.userchangepassword.title}">Change password</span> <small th:text="#{page.userchangepassword.titledesc}">small title</small></h1>
	<ol layout:fragment="content-breadcrumb">
		<li><a th:href="@{/users}" href="#"><i class="fa fa-user"></i>
				<span th:text="#{page.users.title}">Users</span></a></li>
		<li><a
			th:href="@{/user/home/{userId}(userId=${user.id})}" href="#"
			th:text="${user.label}">User label</a></li>
		<li class="active"><a
			th:href="@{/user/change-password/{userId}(userId=${user.id})}" href="#"
			th:text="#{page.userchangepassword.title}">Change password</a></li>
	</ol>
	<div layout:fragment="content">
		<div class="row">
			<div th:replace="fragments/user/userForm :: changePassword">Form</div>
		</div>
	</div>
</body>
</html>