<!DOCTYPE html>
<html layout:decorator="layout/main">
<head>
<title th:text="#{page.users.title}">Users</title>
</head>
<body>
	<h1 layout:fragment="content-title"><i class="fa fa-user"></i> <span th:text="#{page.users.title}">Users</span> <small th:text="#{page.users.titledesc}">small title</small></h1>
	<ol layout:fragment="content-breadcrumb">
		<li class="active"><a th:href="@{/users}" href="#"><i
				class="fa fa-user"></i> <span th:text="#{page.users.title}">Users</span></a></li>
	</ol>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-sm-12">
				<a th:href="@{/user/create/manual}" href="#" class="btn btn-primary margin-bottom"><i class="fa fa-plus"></i> <span th:text="#{page.users.newmanualuser}">New user</span></a>
				<a th:href="@{/user/create/api}" href="#" class="btn btn-primary margin-bottom"><i class="fa fa-plus"></i> <span th:text="#{page.users.newapiuser}">New API user</span></a>
			</div>
		</div>
		<div class="box box-primary">
			<div class="box-body">
				<div class="dataTables_wrapper form-inline dt-bootstrap">
					<div class="row">
						<div class="col-sm-12">
							<table id="usersTable" dt:table="true" dt:url="@{/dt/users}">
								<thead>
									<tr>
										<th dt:property="label" dt:renderFunction="Reesmo.usersTableRenderLabel" th:text="#{user.label}">Label</th>
										<th dt:property="username" th:text="#{user.username}">Username</th>
										<th dt:property="type" dt:searchable="false" dt:sortable="false" th:text="#{user.type}">Type</th>
										<th dt:property="enabled" dt:searchable="false" dt:sortable="false" th:text="#{user.enabled}">Enabled</th>
										<th dt:property="superadmin" dt:searchable="false" dt:sortable="false" th:text="#{user.superadmin}">Superadmin</th>
									</tr>
								</thead>
							</table>
							<script th:inline="javascript">
								Reesmo.usersTableRenderLabel = function(label, type, user) {
									return Reesmo.dataTables.renderLink('user/home/' + user.id, label);
								};
							</script>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>