<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="panel" class="col-md-12">
    <section class="content-header">

    <h2><i class="fa fa-bullhorn"></i> <span th:text="#{page.monitors.title}">Results</span> <small th:text="#{page.monitors.titledesc}">small title</small></h2>
    <div class="row">
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <h3 class="profile-username text-center" th:text="#{page.frequencymonitor.title}">Project</h3>
                    <a th:href="@{/view/{viewId}/monitor/frequency/create(viewId=${view.id})}" href="#" class="btn btn-success btn-block"><b>Create</b></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <h3 class="profile-username text-center" th:text="#{page.flatlinemonitor.title}">Project</h3>
                        <a th:href="@{/view/{viewId}/monitor/flatline/create(viewId=${view.id})}" href="#" class="btn btn-success btn-block"><b>Create</b></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <h3 class="profile-username text-center" th:text="#{page.anymonitor.title}">Project</h3>
                        <a th:href="@{/view/{viewId}/monitor/any/create(viewId=${view.id})}" href="#" class="btn btn-success btn-block"><b>Create</b></a>
                </div>
            </div>
        </div>
    </div>
    </section>
</div>
</body>
</html>