<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
<body>
    <div th:fragment="monitorList (url, showView)" class="box" th:classappend="${showView}? 'box-primary'" th:with="isProjectAdmin=${project.isAllowedForUser(#authentication.principal, 'ADMIN')}">
        <div th:unless="${showView}" class="box-header with-border">
            <h3 class="box-title" th:text="#{page.monitors.title}">Projects</h3>
        </div>
        <div class="box-body">
            <div class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="row">
                    <div class="col-sm-12">
                        <table id="monitorsTable" dt:table="true" dt:url="${url}" dt:filterable="false">
                            <thead>
                            <tr>
                                <th dt:visible="false" dt:sortable="false" dt:property="id" th:text="id">id</th>
                                <th dt:searchable="false" dt:sortable="false" dt:property="description" dt:renderFunction="Reesmo.monitorsTableRenderName" th:text="#{monitor.description}">Description</th>
                                <th dt:searchable="false" dt:sortable="false" dt:property="type" th:text="#{monitor.type}">Type</th>
                                <th dt:searchable="false" dt:sortable="false" th:if="${showView}" dt:property="viewIdDT" dt:renderFunction="Reesmo.monitorsViewTableRenderName" th:text="#{monitor.view}">ViewName</th>
                                <th dt:property="enabled" th:text="#{monitor.enabled}">Enabled</th>
                            </tr>
                            </thead>
                        </table>
                        <script th:inline="javascript">
                            Reesmo.monitorsViewTableRenderName = function(viewIdDT, type, monitor) {
                                return Reesmo.dataTables.renderLink('view/' + viewIdDT, monitor.viewName);
                            };
                            Reesmo.monitorsTableRenderName = function(description, type, monitor) {
                                return Reesmo.dataTables.renderLink('monitor/' + monitor.id, description);
                            };
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>