<!DOCTYPE html>
<html layout:decorator="layout/project" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title th:text="#{page.notifiercreate.email.title} - ${view.name}">Edit -
        Project - Projects</title>
</head>
<body>
<h1 layout:fragment="content-title"><i class="fa fa-bell"></i> <span th:text="#{page.notifiercreate.email.title}">Create</span> <small th:text="#{page.notifiercreate.email.desc}">small title</small></h1>
<ol layout:fragment="content-breadcrumb">
    <li><a th:href="@{/projects}" href="#"><i class="fa fa-bell"></i>
        <span th:text="#{page.projects.title}">Projects</span></a></li>
    <li><a
            th:href="@{/project/home/{projectId}(projectId=${project.id})}" href="#"
            th:text="${project.name}">Project</a></li>
    <li><a
            th:href="@{/view/{viewId}(viewId=${view.id})}" href="#"
            th:text="${view.name}">Edit</a></li>
    <li><a
            th:href="@{/monitor/{monitorId}(monitorId=${monitor.id})}" href="#"
            th:text="#{page.monitordetail.title}">Monitor</a></li>
    <li class="active"><a
            th:href="@{/monitor/{monitorId}/notifier/email/create(monitorId=${monitor.id})}" href="#"
            th:text="#{page.notifiercreate.email.desc}">Edit</a></li>

</ol>
<div layout:fragment="content">
    <div class="row">
        <div th:replace="fragments/notifier/notifierForm :: form (@{/monitor/{monitorId}/notifier/email/create(monitorId=${monitor.id})})">Form</div>
    </div>
</div>
</body>
</html>