<!DOCTYPE html>
<html layout:decorator="layout/project" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title th:text="#{page.notifierdelete.title}">Delete -
        Project - Projects</title>
</head>
<body>
<h1 layout:fragment="content-title"><i class="fa fa-cog"></i> <span th:text="#{page.notifierdelete.title}">Delete</span> <small th:text="#{page.notifierdelete.titledesc}">small title</small></h1>
<ol layout:fragment="content-breadcrumb">
    <li><a th:href="@{/projects}" href="#"><i class="fa fa-cube"></i>
        <span th:text="#{page.projects.title}">Projects</span></a></li>
    <li><a
            th:href="@{/project/home/{projectId}(projectId=${project.id})}" href="#"
            th:text="${project.name}">Project</a></li>
    <li><a
            th:href="@{/view/{viewId}(viewId=${view.id})}" href="#"
            th:text="${view.name}">Delete</a></li>
    <li><a
        th:href="@{/monitor/{monitorId}(monitorId=${monitor.id})}" href="#"
        th:text="#{page.monitordetail.title}">Delete</a></li>
    <li class="active"><a
        th:href="@{/notifier/{notifierId}/delete(notifierId=${notifier.id})}" href="#"
        th:text="#{page.notifierdelete.title}">Delete</a></li>


</ol>

<div layout:fragment="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-bullhorn"></i> <span th:text="#{page.viewdelete.formtitle}">Read well</span></h3>
                </div>
                <form action="#" th:action="@{/notifier/{notifierId}/delete(notifierId=${notifier.id})}" method="post">
                    <div class="box-body">
                        <div class="callout callout-danger">
                            <h4 th:text="#{page.notifierdelete.dangertitle}">I am a danger callout!</h4>
                            <p th:text="#{page.notifierdelete.dangercontent}">There is a problem that we need to fix. A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button th:replace="fragments/form/button :: submit">Submit</button>
                        <button th:replace="fragments/form/button :: cancel">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>