<!DOCTYPE html>
<html layout:decorator="layout/project" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
<head>
<title th:text="#{page.projectdetail.title} - ${project.name}">Detail -
	Project - Projects</title>
</head>
<body>
	<h1 layout:fragment="content-title"><i class="fa fa-cog"></i> <span th:text="${project.name}">Project</span> - <span th:text="#{page.projectdetail.title}">Project</span> <small th:text="#{page.projectdetail.titledesc}">small title</small></h1>
	<ol layout:fragment="content-breadcrumb">
		<li><a th:href="@{/projects}" href="#"><i class="fa fa-cube"></i>
				<span th:text="#{page.projects.title}">Projects</span></a></li>
		<li><a 
			th:href="@{/project/home/{projectId}(projectId=${project.id})}" href="#"
			th:text="${project.name}">Project</a></li>
		<li class="active"><a
			th:href="@{/project/detail/{projectId}(projectId=${project.id})}" href="#"
			th:text="#{page.projectdetail.title}">Detail</a></li>
	</ol>
	<div layout:fragment="content" th:with="isProjectAdmin=${project.isAllowedForUser(#authentication.principal, 'ADMIN')}, isProjectOwner=${project.isAllowedForUser(#authentication.principal, 'OWNER')}">
		<div class="row">
			<div class="col-md-3">
				<div class="box box-primary">
					<div class="box-body box-profile">
						<h3 class="profile-username text-center" th:text="${project.name}">Project</h3>
						<a th:if="${isProjectAdmin}" th:href="@{/project/edit/{projectId}(projectId=${project.id})}" href="#" class="btn btn-primary btn-block"><b>Edit</b></a>
						<a th:if="${isProjectOwner}" th:href="@{/project/delete/{projectId}(projectId=${project.id})}" href="#" class="btn btn-danger btn-block"><b>Delete</b></a>
					</div>
				</div>
			</div>
			<div th:replace="fragments/project/projectDetail :: details">Details</div>
			<div th:replace="fragments/model/audit :: history (model=${project})">History</div>
		</div>
		<!-- Users -->
		<div class="box">
			<div class="box-header with-border">
				<h3 class="box-title" th:text="#{page.projectdetail.users.title}">Users</h3>
			</div>
			<div class="box-body">
				<div class="dataTables_wrapper form-inline dt-bootstrap">
					<div class="row">
						<div class="col-sm-12">
							<div th:if="${isProjectAdmin}" dt:conf="projectUsersTable">
								<div dt:confType="callback" dt:type="init" dt:function="Reesmo.dataTables.initCompleteSelectableRowsCallback" />
							</div>
							<table id="projectUsersTable" th:class="${isProjectAdmin}?'selectable remove'" dt:table="true" dt:url="@{/dt/project/users/{projectId}(projectId=${project.id})}">
								<thead>
									<tr>
										<th dt:property="label" dt:renderFunction="Reesmo.usersTableRenderLabel" th:text="#{user.label}">Label</th>
										<th dt:property="username" th:text="#{user.username}">Username</th>
										<th dt:property="type" dt:searchable="false" dt:sortable="false" th:text="#{user.type}">Type</th>
										<th dt:property="permission" dt:searchable="false" dt:sortable="false" th:text="#{user.permission}">Permission</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div th:if="${isProjectAdmin}" class="box-footer">
				<button id="btn-show-add-users" type="button" class="btn btn-primary" th:text="#{page.projectdetail.users.add}">Add users</button>
				<button id="btn-remove-users" type="button" class="btn btn-danger" th:text="#{page.projectdetail.users.remove}">Remove selected users</button>
			</div>
		</div>
		<div th:if="${isProjectAdmin}" id="box-add-users" class="box box-primary" style="display: none;">
			<div class="box-header with-border">
				<h3 class="box-title" th:text="#{page.projectdetail.addusers.title}">Select users you want to add to this project</h3>
				<div class="box-tools pull-right">
					<button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
				</div>
			</div>
			<div class="box-body">
				<div class="dataTables_wrapper form-inline dt-bootstrap">
					<div class="row">
						<div class="col-sm-12">
							<div dt:conf="usersTable">
								<div dt:confType="callback" dt:type="init" dt:function="Reesmo.dataTables.initCompleteSelectableRowsCallback" />
							</div>
							<table id="usersTable" th:class="${isProjectAdmin}?'selectable add'" dt:table="true" dt:url="@{/dt/users}">
								<thead>
									<tr>
										<th dt:property="label" dt:renderFunction="Reesmo.usersTableRenderLabel" th:text="#{user.label}">Label</th>
										<th dt:property="username" th:text="#{user.username}">Username</th>
										<th dt:property="type" dt:searchable="false" dt:sortable="false" th:text="#{user.type}">Type</th>
										<th dt:property="enabled" dt:searchable="false" dt:sortable="false" th:text="#{user.enabled}">Enabled</th>
										<th dt:property="superadmin" dt:searchable="false" dt:sortable="false" th:text="#{user.superadmin}">Superadmin</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer form-inline">
				<button id="btn-add-users" type="button" class="btn btn-success" th:text="#{page.projectdetail.addusers.add}">Add selected users</button>
				<label class="with-input">
					<span th:text="#{page.projectdetail.addusers.addAssignText}" class="padding-horizontal">and assign them</span>
					<select th:replace="fragments/user/userMember :: selectPermission (model=${project})"></select>
					<span th:text="#{page.projectdetail.addusers.addAssignTextPermission}" class="padding-horizontal">permission</span>
				</label>
			</div>
		</div>
		<!-- Users from groups -->
		<div class="box">
			<div class="box-header with-border">
				<h3 class="box-title" th:text="#{page.projectdetail.usersfromgroups.title}">Group users</h3>
			</div>
			<div class="box-body">
				<div class="dataTables_wrapper form-inline dt-bootstrap">
					<div class="row">
						<div class="col-sm-12">
							<table id="projectUsersFromGroupsTable" dt:table="true" dt:url="@{/dt/project/users-from-groups/{projectId}(projectId=${project.id})}">
								<thead>
									<tr>
										<th dt:property="label" dt:renderFunction="Reesmo.usersTableRenderLabel" th:text="#{user.label}">Label</th>
										<th dt:property="username" th:text="#{user.username}">Username</th>
										<th dt:property="type" dt:searchable="false" dt:sortable="false" th:text="#{user.type}">Type</th>
										<th dt:property="permission" dt:searchable="false" dt:sortable="false" th:text="#{user.permission}">Permission</th>
										<th dt:property="projectGroupsNames" dt:searchable="false" dt:sortable="false" th:text="#{user.projectGroupsNames}">Project groups</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:switch="${#authentication.principal.isSuperadmin()}">
			<script th:case="${true}" th:inline="javascript">
				Reesmo.usersTableRenderLabel = function(label, type, user) {
					return Reesmo.dataTables.renderLink('user/home/' + user.id, label);
				};
			</script>
			<script th:case="${false}" th:inline="javascript">
				Reesmo.usersTableRenderLabel = function(label, type, user) {
					return label;
				};
			</script>
		</div>
		<script th:if="${isProjectAdmin}" th:inline="javascript">
			/*<![CDATA[*/
			Reesmo.initProjectUsersManagement = function() {
				var $showAddUsersBtn = $('#btn-show-add-users'),
					$removeUsersBtn = $('#btn-remove-users'),
					$addUsersBtn = $('#btn-add-users'),
					$addUsersBox = $('#box-add-users')
					$selectAddUsersPermission = $('#select-add-users-permission'),
					$projectUsersTable = $('#projectUsersTable'),
					$usersTable = $('#usersTable');
				
				$showAddUsersBtn.click(function(){
					$addUsersBox.slideToggle("slow");
				});
				
				$addUsersBtn.click(function(){
					var rowsData = Reesmo.dataTables.getSelectedRowsData($usersTable),
						userIds = [];
					
					$.each(rowsData, function(i, rowData){
						userIds.push(rowData.id);
					});
					if (userIds.length < 1) return;
					
					Reesmo.ajax({
						url: [[@{/project/user/add/{projectId}(projectId=${project.id})}]],
						data: {
							permission: $selectAddUsersPermission.val(),
							userIds: userIds
						}
					}, function(addedCnt){
						Reesmo.dataTables.clearRowSelection($usersTable);
						Reesmo.dataTables.reloadTable($projectUsersTable);
						// TODO - show count
					});
				});
				
				$removeUsersBtn.click(function(){
					var rowsData = Reesmo.dataTables.getSelectedRowsData($projectUsersTable),
						userIds = [];
					
					$.each(rowsData, function(i, rowData){
						userIds.push(rowData.id);
					});
					if (userIds.length < 1) return;
					
					Reesmo.ajax({
						url: [[@{/project/user/remove/{projectId}(projectId=${project.id})}]],
						data: {
							userIds: userIds
						}
					}, function(removedCnt){
						Reesmo.dataTables.clearRowSelection($projectUsersTable);
						Reesmo.dataTables.reloadTable($projectUsersTable);
						// TODO - show count
					});
				});
			}
			
			$(document).ready(function(){
				Reesmo.initProjectUsersManagement();
			});
			/*]]>*/
		</script>
	</div>
</body>
</html>