<!DOCTYPE html>
<html layout:decorator="layout/main">
<head>
<title th:text="#{page.projectgroups.title}">Projects groups</title>
</head>
<body>
	<h1 layout:fragment="content-title"><i class="fa fa-cubes"></i> <span th:text="#{page.projectgroups.title}">Projects groups</span> <small th:text="#{page.projectgroups.titledesc}">small title</small></h1>
	<ol layout:fragment="content-breadcrumb">
		<li class="active"><a th:href="@{/project-groups}" href="#"><i
				class="fa fa-cubes"></i> <span th:text="#{page.projectgroups.title}">Projects groups</span></a></li>
	</ol>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-sm-12">
				<a th:href="@{/project-group/create}" href="#" class="btn btn-primary margin-bottom"><i class="fa fa-plus"></i> <span th:text="#{page.projectgroups.newprojectgroup}">New project group</span></a>
			</div>
		</div>
		<div class="box box-primary">
			<div class="box-body">
				<div class="dataTables_wrapper form-inline dt-bootstrap">
					<div class="row">
						<div class="col-sm-12">
							<table id="projectGroupsTable" dt:table="true" dt:url="@{/dt/project-groups}">
								<thead>
									<tr>
										<th dt:property="name" dt:renderFunction="Tremapp.projectGroupsTableRenderName" th:text="#{projectgroup.name}">Name</th>
										<th dt:property="description" th:text="#{projectgroup.description}">Description</th>
									</tr>
								</thead>
							</table>
							<script th:inline="javascript">
								Tremapp.projectGroupsTableRenderName = function(name, type, projectGroup) {
									return Tremapp.dataTables.renderLink('project-group/home/' + projectGroup.id, name);
								};
							</script>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>