.padding-left {
	padding-left: 10px;
}

.padding-right {
	padding-right: 10px;
}

.padding-horizontal {
	padding-left: 10px;
	padding-right: 10px;
}

.clickable {
	cursor: pointer;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
	height: 150px;
}

table.dataTable.selectable tbody {
	-moz-user-select:-moz-none;
	-moz-user-select:none;
	-o-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none
}

table.dataTable.selectable tbody tr td {
	cursor: pointer;
}

table.dataTable.selectable tbody tr td.dataTables_empty {
	cursor: auto;
}

table.dataTable.selectable tbody tr.selected td {
	background-color: #75a2cc;
	border: 1px solid #7099bf;
}

table.dataTable.selectable.add tbody tr.selected td {
	background-color: #83cb81;
	border: 1px solid #86c984;
}

table.dataTable.selectable.remove tbody tr.selected td {
	background-color: #e28686;
	border: 1px solid #de7877;
}

table.dataTable.selectable tbody tr.selected td,
table.dataTable.selectable tbody tr.selected td a {
	color: #fff;
}

table.dataTable.resultsTable .severity {
	font-size: large;
	font-weight: bold;
}

label.with-input {
	font-weight: normal;
	text-align: left;
	white-space: nowrap;	
}

/* PANES */

body.panes-maximized {
	overflow: hidden;
}

.panes.maximized {
	position: fixed;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    z-index: 2000;
    border: none;
    margin: 0;
}

.panes > .panes-overlay {
	display: none;
	position: absolute;
	top: -50px;
	right: 0;
    bottom: 0;
    left: 0;
	background-color: #3c8dbc;
}

.panes.maximized > .panes-overlay {
	display: block;
}

.panes > .panes-minimizer {
	display: none;
	position: absolute;
    top: -46px;
    left: 15px;
    font-size: 32px;
    color: white;
}

.panes.maximized > .panes-minimizer {
	display: block;
}

.panes > .panes-title {
	display: none;
	position: absolute;
	top: -39px;
	right: 15px;
	color: white;
	font-size: 20px;
}

.panes.maximized > .panes-title {
	display: block;
}

.panes > .panes-logo {
	display: none;
	position: absolute;
	top: -39px;
	left: 55px;
	color: white;
	font-size: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.panes.maximized > .panes-logo {
	display: block;
}

.panes.active > .pane-left,
.panes.active > .pane-right {
	position: absolute;
    top: 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
}

.panes > .pane-right {
	display: none;
    left: 50%;
    width: 50%;
    border-left: 1px solid #ccc;
    z-index: 2;
}

.panes.active > .pane-left {
	width: 100%;
}

.panes.active.right-pane-on > .pane-right {
	display: block;
}

.panes.active.right-pane-on > .pane-left {
	width: 50%;
}

.panes.active.right-pane-on.right-pane-expanded > .pane-right {
	left: 5%;
	width: 95%;
}

.panes.active.right-pane-on.right-pane-expanded > .pane-left {
	overflow: hidden;
}

.panes > .pane-left > .expand-overlay {
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	height: 10000px; /* UGLY HACK, BUT WORKS */
	cursor: pointer;
}

.panes > .pane-left:hover > .expand-overlay {
	background-color: #F4F4F4;
	opacity: .4;
}

.panes.active.right-pane-on.right-pane-expanded > .pane-left > .expand-overlay {
	display: block;
}

/* RESULT LIST */

.results-box.active.right-pane-on table.resultsTable th:nth-child(4),
.results-box.active.right-pane-on table.resultsTable th:nth-child(5),
.results-box.active.right-pane-on table.resultsTable th:nth-child(6),
.results-box.active.right-pane-on table.resultsTable td:nth-child(4),
.results-box.active.right-pane-on table.resultsTable td:nth-child(5),
.results-box.active.right-pane-on table.resultsTable td:nth-child(6) {
	display: none;
}

.results-box .result-detail-pane-controls .collapse-right-pane,
.results-box.right-pane-expanded .result-detail-pane-controls .expand-right-pane {
	display: none;
}

.results-box.active.right-pane-expanded .result-detail-pane-controls .collapse-right-pane {
	display: inline;
}

.results-box-panes-title {
	display: none;
}

.results-box .btn-delete-results {
	display: none;
}

.results-box .toggler-delete-results i {
	padding: 6px 8px;
    line-height: 1.42857143;
}

/* RESULT DETAIL PANES */

.result-detail .result-attachment-pane-controls .collapse-right-pane,
.result-detail.right-pane-expanded .result-attachment-pane-controls .expand-right-pane {
	display: none;
}

.result-detail.active.right-pane-expanded .result-attachment-pane-controls .collapse-right-pane {
	display: inline;
}

.result-detail .box-header,
.result-detail .box-header .box-title {
	font-size: 22px;
	line-height: 1.3;
}

.result-detail .box-header {
	padding-top: 5px;
}

.result-detail .box-header .label {
	font-size: 13px;
	vertical-align: middle;
}

.result-att-preview .attachment-lnk {
	font-size: 14px;
}

.result-value {
	margin-top: 5px;
}

.result-value:first-child {
	margin-top: 0;
}

.result-value .value-label {
	color: #777;
}

.result-value .value {
	color: #000;
}

.result-info {
	margin-top: 5px;
	padding: 10px;
	position: relative;
}

.result-info .firstline,
.result-info .nextlines {
	white-space: pre-wrap;
	word-wrap: break-word;
}

.result-info .firstline {
	margin-right: 30px;
}

.result-info .nextlines {
	display: none;
}

.result-info.expanded .nextlines {
	display: block;
}

.result-info .nextlines-trigger {
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
	font-weight: bold;
	font-size: 25px;
	height: 40px;
	width: 40px;
	text-align: center;
}

.result-info .nextlines-trigger i {
	line-height: 40px;
}

.result-info.expanded .nextlines-trigger i {
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.result-attachment {
	padding: 5px 10px;
	margin-top: 5px;
	background-color: #F4F4F4;
}

.result-attachment:hover {
	background-color: #d4d4d4;
}

.result-attachment a.view {
	color: #333;
	text-decoration: none;
}

.result-att-preview .box-body[data-att-kind=image] {
	text-align: center;
}

.result-att-preview .box-body .result-att-img {
	max-width: 100%;
	border: 0;
	margin: 0;
	padding: 0;
	cursor: zoom-in;
	border: 1px solid #f4f4f4;
}

.result-detail.right-pane-expanded .result-att-preview .box-body .result-att-img {
	cursor: zoom-out;
}

.result-att-preview .attachment-lnk {
	display: inline-block;
}

/* FILTERS */

.box-header.dt-filters {
	padding-top: 5px;
}

.dt-filters > * {
	margin-top: 5px;
}

.dt-filters .btn-group {
	margin-right: 5px;
}

.dt-filters.dt-filters-less-view .dt-filter.dt-filter-hidden {
	display: none;
}

.dt-filters.dt-filters-more-view .dt-filters-trigger-more .dt-filters-more-label {
	display: none;
}

.dt-filters.dt-filters-less-view .dt-filters-trigger-more .dt-filters-less-label {
	display: none;
}

.dt-filters .dt-filters-trigger-more i {
	font-weight: bold;
	margin-left: 8px;
}

.dt-filters.dt-filters-more-view .dt-filters-trigger-more i {
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.dt-filters .dt-views-container {
	margin-left: 5px;
}

.dt-filters .dt-views-container li a {
	font-weight: bold;
}

.dt-filters .dt-views-container li.dt-view-changed-box,
.dt-filters .dt-views-container li.dt-view-update-trigger-box,
.dt-filters .dt-views-container li.dt-view-create-trigger-box {
	padding: 10px 10px 0 10px;
}

.dt-filters .dt-views-container li.dt-view-changed-box {
	padding-top: 0;
	padding-bottom: 10px;
}

.dt-filters .dt-views-container.empty li.dt-view-create-trigger-box {
	padding-top: 0;
}

.dt-filters .dt-views-container .dropdown-menu {
	padding: 10px 0;
}

.dt-filters .dt-views-container .dropdown-menu > li > a {
	padding: 5px 10px;
}

.btn-group.dt-filter-type-text .dropdown-menu {
	padding: 10px;
}

.btn-group.dt-filter-type-text .dropdown-menu .dropdown-buttons {
	margin-top: 10px;
}

.btn-group.dt-filter-type-select .dropdown-menu {
	padding: 5px 10px 10px;
}

.btn-group.dt-filter-type-select .dropdown-menu li {
	padding-top: 5px;
}

.btn-group.dt-filter-type-daterange .dropdown-menu,
.btn-group.dt-filter-type-numberrange .dropdown-menu {
	padding: 10px;
}

.btn-group.dt-filter-type-daterange .dropdown-menu .dropdown-buttons,
.btn-group.dt-filter-type-numberrange .dropdown-menu .dropdown-buttons {
	margin-top: 10px;
}

.btn-group.dt-filter-type-daterange input.date-input,
.btn-group.dt-filter-type-numberrange input.date-input {
	margin-top: 5px;
	margin-bottom: 5px;
}

