<!DOCTYPE html>
<html layout:decorator="layout/project" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title th:text="#{page.monitorcreate.flatline.title} - ${view.name}">Edit -
        Project - Projects</title>
</head>
<body>
<h1 layout:fragment="content-title"><i class="fa fa-cog"></i> <span th:text="${view.name}">Project</span> - <span th:text="#{page.monitorcreate.flatline.title}">Edit</span></h1>
<ol layout:fragment="content-breadcrumb">
    <li><a th:href="@{/projects}" href="#"><i class="fa fa-cubes"></i>
        <span th:text="#{page.projects.title}">Projects</span></a></li>
    <li><a
            th:href="@{/project/home/{projectId}(projectId=${project.id})}" href="#"
            th:text="${project.name}">Project</a></li>
    <li><a
            th:href="@{/view/{viewId}(viewId=${view.id})}" href="#"
            th:text="${view.name}">Edit</a></li>
    <li class="active"><a
            th:href="@{/view/{viewId}/monitor/flatline/create(viewId=${view.id})}" href="#"
            th:text="#{page.monitorcreate.flatline.title}">Edit</a></li>

</ol>
<div layout:fragment="content">
    <div class="row">
        <div th:replace="fragments/monitor/monitorForm :: form(@{/view/{viewId}/monitor/flatline/create(viewId=${view.id})})">Form</div>
    </div>
</div>
</body>
</html>