<!DOCTYPE html>
<html layout:decorator="layout/project" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title th:text="#{page.monitordetail.title}">Results -
        Project - Projects</title>
</head>
    <body>
    <h1 layout:fragment="content-title"><i class="fa fa-bullhorn"></i> <span th:text="#{page.monitordetail.title}">Project</span> - <span th:text="${monitorDT.viewName}">Project</span> <small th:text="#{page.monitordetail.desc}">small title</small></h1>
    <ol layout:fragment="content-breadcrumb">
        <li><a th:href="@{/projects}" href="#"><i class="fa fa-bullhorn"></i> <span th:text="#{page.projects.title}">Projects</span></a></li>
        <li><a th:href="@{/project/detail/{projectId}(projectId=${project.id})}" href="#"> <span th:text="${project.name}">Projects</span></a></li>
        <li><a th:href="@{/view/{viewId}(viewId=${view.id})}" href="#"><span th:text="${view.name}">Projects</span></a></li>
        <li class="active"><a th:href="@{/monitor/{monitorId}(monitorId=${monitorDT.id})}" href="#"><span th:text="#{page.monitordetail.title}">Projects</span></a></li>
    </ol>
    <div layout:fragment="content" th:with="isProjectAdmin=${project.isAllowedForUser(#authentication.principal, 'ADMIN')}, isProjectOwner=${project.isAllowedForUser(#authentication.principal, 'OWNER')}">

        <div class="row">
            <div class="col-md-3">
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <h3 class="profile-username text-center" th:text="#{page.monitordetail.title}">Project</h3>
                        <a th:if="${isProjectAdmin}" th:href="@{/monitor/edit/{monitorId}(monitorId=${monitorDT.id})}" href="#" class="btn btn-primary btn-block"><b>Edit</b></a>
                        <a th:if="${isProjectAdmin}" th:href="@{/monitor/delete/{monitorId}(monitorId=${monitorDT.id})}" href="#" class="btn btn-danger btn-block"><b>Delete</b></a>
                    </div>
                </div>
            </div>
            <div th:replace="fragments/monitor/monitorDetail :: details">Details</div>
        </div>

        <div th:replace="fragments/notifier/notifiersList :: notifiersList">Details</div>

        <div th:if="${isProjectAdmin}" class="row">
            <div class="col-sm-12">
                <a th:href="@{/monitor/{monitorId}/notifier/url/create(monitorId=${monitorDT.id})}" href="#" class="btn btn-primary margin-bottom"><i class="fa fa-plus"></i> <span th:text="#{page.monitordetail.createurlnotifier}">New project</span></a>
                <a th:if="false" th:href="@{/monitor/{monitorId}/notifier/email/create(monitorId=${monitorDT.id})}" href="#" class="btn btn-primary margin-bottom"><i class="fa fa-plus"></i> <span th:text="#{page.monitordetail.createemailnotifier}">New project</span></a>
            </div>
        </div>
    </div>
    </body>
</html>