<!DOCTYPE html>
<html>
<body>
	<!--/*-->
	Params:
		name String field name 
		label String translated field label
		values List<String> possible values
		selectedValues List<String> selected values
		valueLabelPrefix String prefix for construction of translated value label
	<!--*/-->
	<div th:fragment="field" class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span th:if="${#lists.isEmpty(selectedValues)}" th:text="${label}: #{all}">Label: All</span>
			<span th:unless="${#lists.isEmpty(selectedValues)}" th:text="#{$valueLabelPrefix + }"></span>
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li>
				<div class="checkbox">
					<label>
						<input type="checkbox"/>
						<span>Passed</span>
					</label>
				</div>
			</li>
			<li><a href="#">Another action</a></li>
			<li><a href="#">Something else here</a></li>
			<li role="separator" class="divider"></li>
			<li><a href="#">Separated link</a></li>
		</ul>
	</div>
</body>
</html>