<!DOCTYPE html>
<html>
<body>
	<!-- Main Header -->
	<header th:fragment="header" class="main-header">

		<!-- Logo -->
		<a th:href="@{/}" href="#" class="logo"> <!-- mini logo for sidebar mini 50x50 pixels -->
			<span class="logo-mini"><b th:text="#{app.shortname}">App</b></span> <!-- logo for regular state and mobile devices -->
			<span class="logo-lg"><b th:text="#{app.name}">App name</b></span>
		</a>

		<!-- Header Navbar -->
		<nav class="navbar navbar-static-top" role="navigation">
			<!-- Sidebar toggle button-->
			<a href="#" class="sidebar-toggle" data-toggle="offcanvas"
				role="button"> <span class="sr-only" th:text="#{navigation.toggle}">Toggle navigation</span>
			</a>
			<!-- Navbar Right Menu -->
			<div class="navbar-custom-menu">
				<ul class="nav navbar-nav">
					<!-- User Account Menu -->
					<li class="dropdown user user-menu">
						<!-- Menu Toggle Button --> <a href="#" class="dropdown-toggle"
						data-toggle="dropdown"> <!-- The user image in the navbar--> <img
							th:src="@{/static/app/img/avatar-160x160.png}"
							src="../../../static/app/img/avatar-160x160.png"
							class="user-image" alt="#{user.avatar}" /> <!-- hidden-xs hides the username on small devices so only the image appears. -->
							<span sec:authentication="principal.label" class="hidden-xs">Logged user</span>
					</a>
						<ul class="dropdown-menu">
							<!-- The user image in the menu -->
							<li class="user-header"><img
								th:src="@{/static/app/img/avatar-160x160.png}"
								src="../../../static/app/img/avatar-160x160.png"
								class="img-circle" alt="#{user.avatar}" />
								<p sec:authentication="principal.label">Logged user</p></li>
							<!-- Menu Footer-->
							<li class="user-footer">
								<div class="pull-left">
									<a href="#" class="btn btn-default btn-flat"
										th:text="#{user.profile}">Profile</a>
								</div>
								<div class="pull-right">
									<a th:href="@{/logout}" href="#" class="btn btn-default btn-flat"
										th:text="#{user.signout}">Sign out</a>
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
	</header>
</body>
</html>