<!DOCTYPE html>
<html>
<body>
	<select th:fragment="selectPermission (model)" id="select-add-users-permission" class="form-control input-sm">
		<option th:value="basic" th:text="#{user.permission.value.basic}">Basic</option>
		<option th:value="editor" th:text="#{user.permission.value.editor}">Editor</option>
		<option th:if="${model.isAllowedForUser(#authentication.principal, 'ADMIN')}" th:value="admin" th:text="#{user.permission.value.admin}">Admin</option>
		<option th:if="${model.isAllowedForUser(#authentication.principal, 'OWNER')}" th:value="owner" th:text="#{user.permission.value.owner}">Owner</option>
	</select>
</body>
</html>